.details {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-bottom: 50px;
}
.details-header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 5rem;
    padding: 25px 0;
    letter-spacing: 2.5px;
}
.details-header .details-img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.details-header .details-title{
    text-align: center;
    align-self: center;
}
.details-title h1{
    font-size: 45px;
    animation: mymove 2s ease-in-out forwards;
    color: #f4a261;
}
.details-title h4 {
    font-size: 36px;
    font-weight: bold;
    animation: mymoveright 2s ease-in-out forwards;
    color: #e5e8b6;
}
.details-body{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.details-body .details-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.5rem 0;
    gap: 50px;
}
.details-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}.details-box h2{
    letter-spacing: 1.5px;
}
.details-box p{
    text-align: justify;
    padding: 0 2rem;
}
.details-box a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.details-box img{
    width: 25rem;
}
.row1{
    border-radius: 15px;
    animation: fadeIn 3s ease-in-out;
}
.row1:hover{
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.row2{
    background-color: #e5e8b6;
    border-radius: 15px;
    animation: fadeIn 3s ease-in-out;
}
.row2:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.details-box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.details-box li{
    display: block;
    padding: 15px;
    background-color: #0d3b66;
    color: white;
    border-top-right-radius: 15px 0;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.details-map{
    letter-spacing: 2.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    flex-direction: column;
}
.details-box-map{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    flex-direction: column;
    padding-top: 20px;
}
.details-box-map h2{
    padding: 15px;
    margin-bottom: 10px;
}