.navbar{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    color: black;
}
.navbar .logo{
    width: 300px;
} 
.navbar-menu{
    display: flex;
    gap: 20px;
    font-size: 18px;
    text-transform: capitalize;
}
.navbar-menu li{
    list-style: none;
    cursor: pointer
}
.navbar-menu .active{
    border-bottom: 2px solid #0d3b66;
    padding-bottom: 2px;
}
.navbar-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.navbar-right img{
    cursor: pointer;
}
.navbar button{
    border: 2px solid #0d3b66;
    width: 150px;
}
.navbar button:hover{
    background: #0d3b66;
    color: #ffffff;
}
.navbar-favorites-icon img {
    width: 30px;
}
.navbar-favorites-icon {
    position: relative;
}
.navbar-favorites-icon .dot{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: tomato;
    top: -8px;
    right: -8px;
}
.navbar-right img{
    transition: 0.3s;
}
.navbar-right img:hover{
    transform: translateY(-2px);

}
